* {
    box-sizing: border-box;
}

:root {
    --scheme: #c70;
    --scheme-dark: #530;
    --scheme-darker: #310;
}

body {
    margin: 0;
    font-family: 'Noto Sans', 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.site-header {
    padding: 1em;
    background: var(--scheme-darker);
    color: white;
}

.site-footer {
    padding: 1em;
    background: whitesmoke;
    color: var(--scheme-darker);
    text-align: right;
}

.site-logo {
    background: linear-gradient(180deg, var(--scheme-darker), var(--scheme));
    padding: 3em 0;
}


.page-content, .home {
    background: white;
}

a {
    color: var(--scheme);
    text-decoration: none;
}

hr {
    border: 0;
    border-top: 1px solid var(--scheme);
}

.wrapper {
    max-width: 640px;
    padding: 2em;
    margin: auto;
}

.center, h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

main {
    min-height: calc(100vh - 7em);
    background: var(--scheme);
}

.post {
    line-height: 1.7;
    text-align: justify;
}

h2 {
    color: var(--scheme-dark);
}
